<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Stock Search</title>

    <!-- Bootstrap core CSS -->
    <link href="data/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
    <style>
      .ui-draggable, .ui-droppable {
        background-position: top;
      }
      .info-box {
        background: #fcfcfc;
        margin-top: 20px;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 1px 3px #666666;
        font-family: Arial;
        color: black;
        font-size: 13px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        min-height: 200px;
        max-width:  250px;
      }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    {% block addhead %}
    {% endblock addhead %}

    {% endblock head %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stock Search</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            {# <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> #}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


    {% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Stock Search SITE</h1>
        <p>This is a simple website which parses the Equity from <a href="http://www.bseindia.com">BSE INDIA</a> website. It provides the information of
        the top ten stocks of the previous day and also 'Search' option to get stocks based on name of any stock.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
         <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group ui-widget">
            <input type="text" id="autocomplete" class="form-control">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>

      </div>
      <div class="stock-info">
      </div>

    {% endblock content %}

      <hr>

      <footer>
        {% block footer %}
        <p>&copy; Zerodha Task 2017</p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
    $( function() {
    $( "#autocomplete" ).autocomplete({
      source: function(req, resp) {
          $.getJSON("/autocomplete/" + encodeURIComponent(req.term), resp);
      },
      minLength: 2,
      select: function( event, ui ) {
        $.ajax({
          url: "/stock_details/"+ui.item.id,
          contentType: "application/json",
          success: function(item){
            var scHTML = '';
                scHTML += '<div class="info-box"><div>' + item.sc_name + '</div><div>' + item.sc_code + '</div><div>' + item.sc_open + '</div><div>'+
                item.sc_close + '</div><div>'+item.sc_high + '</div><div>'+item.sc_low + '</div></div>';
            $('.stock-info').html(scHTML);
        }});
      }
    });
     } );
    </script>
    <script src="data/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block footscript %}
    {% endblock footscript %}
  </body>
</html>
